body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
}

#calcularSalario {
  display: inline-block;
  background-color: blue;
  color: white;
  font-family: "Courier New", Courier;
  font-size: 0.8rem;
  padding: 10px 20px;
  border: 3px solid black;
  box-shadow: 3px 3px 0 black;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

#calcularSalario:hover {
  background-color: white;
  color: black;
  border-color: black;
  box-shadow: 3px 3px 0 black;
  text-decoration: none;
}

footer {
  background-color: white;
  font-size: 1.3rem;
}

/* Menu */
.navbar .nav-link {
  font-size: 0.8rem;
}

.navbar-light .navbar-toggler {
  border-color: black;
}

.navbar-light .navbar-toggler-icon {
  background-color: white;
}

#context {
  display: inline-block;
  color: black;
  font-family: "Courier New", Courier;
  font-size: 0.8rem;
  padding: 10px 20px;
  border: 3px solid black;
  box-shadow: 3px 3px 0 black;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

#resultado {
  color: black;
  font-family: "Courier New", Courier;
  font-size: 0.8rem;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}